@model AlumniSystem.Core.ViewModels.AlumniViewModel
@using AlumniSystem.Infrastructure.Models.Enums
@{
    ViewData["Title"] = "Въведете вашите данни";
}
<h2>@ViewData["Title"]</h2>
<form asp-action="Create">
    <input type="hidden" asp-for="UserId"/>
    <div class="form-group col-md-4">
        <label asp-for="FacultyNumber">Факултетен номер</label>
        <input asp-for="FacultyNumber" class="form-control" />
        <span asp-validation-for="FacultyNumber" class="text-danger"></span>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="FirstName">Име</label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Surname">Бащино име</label>
            <input asp-for="Surname" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="LastName">Фамилия</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="Email">Имейл</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <div class="form-group">
            <label asp-for="Faculty" class="control-label">Факултет</label>
            <select asp-for="Faculty"
                    asp-items="Html.GetEnumSelectList<Faculty>()"
                    class="form-control">
                <option value="">-- Изберете факултет --</option>
            </select>
            <span asp-validation-for="Faculty" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="Degree">Специалност</label>
        <input asp-for="Degree" class="form-control" />
        <span asp-validation-for="Degree" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="GraduationYear">Дата на завършване</label>
        <input asp-for="GraduationYear" type="date" class="form-control" />
        <span asp-validation-for="GraduationYear" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="CurrentPosition">Професия</label>
        <input asp-for="CurrentPosition" class="form-control" />
        <span asp-validation-for="CurrentPosition" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success mt-2">Добави</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Отказ</a>
</form>